@import '/node_modules/bootstrap/scss/bootstrap.scss';

body {
    min-height: 100vh;
}

#app {
    height: 100%;
}

.router-link {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
    }
}

.router-active {
    color: white;
}