@import '/node_modules/bootstrap/scss/bootstrap.scss';

body {
    height: 100vh;
}

#app {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.router-link {
    text-decoration: none;
    color: inherit;
    &:hover {
        color: inherit;
    }
}